@import '../../../src/index';

.container{
  width:40vw;
  backdrop-filter: blur(1px);
  border-radius: 2vh;
  @include todoBoxStyle(6px, 2px, 16px, 1vh);
  display: grid;
  grid-template-columns: 12fr 1fr;
  &>div:first-child{
    padding: 3vh 1vw 3vh 1vw;
  }
}

.mainBlock{
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 10fr 4fr;
  >div {
    &:last-child {
      display: flex;
      justify-content: center;
      align-items: center;

      select {
        width: 100%;
        @include fontStyle(black, 0.8em, 500);
        @include todoBoxStyle(6px, 2px, 16px, 1vh);
        padding: 1vh 0.3vw;
        outline: none;
        cursor: pointer;
      }
    }
    &:first-child > span{
      padding: 0.1vh 0.4vw;
      @include fontStyle(black, 0.8em, 500);
      @include todoBoxStyle(3px, 3px, 10px, 50%);
    }
  }
}
.title{
  width: 90%;
  height: 100%;
  margin: auto;
  border-radius: 1vh;
  display: flex;
  align-items: center;
  @include fontStyle(black, 0.8em, 500);
  @include todoBoxStyle(6px, 2px, 16px, 1vh);
  span{
    margin-left: 1vw;
  }
}
.gridContainer{
  cursor: pointer;
}
.container:hover > .gridContainer >.descBlock{
  height: initial;
  transition: 0.6s ease-in-out;
  opacity: 1;
  margin-top: 3vh;
  @include fontStyle(black, 0.7em, 300);
  @include todoBoxStyle(6px, 2px, 16px, 1vh);
  padding: 1vh 1vw;
}
.descBlock{
  height: 0;
  padding: 0;
  opacity: 0;
  font-size: 0;
  color: rgba(255, 255, 255, 0);
}

.deleteContainer{
  height: 100%;
  background-color: rgb(255, 92, 92);
  display: grid;
  justify-content: center;
  align-items: center;
  border-radius: 0 1vh 1vh 0;
  cursor: pointer;
  outline: none;
  border: 0;
}