
.container{
  width: 90vw;
  height: 90vh;
  border-radius: 2vh;
  margin: auto;
  background-color: rgba(239, 239, 239, 0.65);
  backdrop-filter: blur(0.2vh);
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  align-items: center;
  position: relative;
}
.loadingContainer{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1111;
  border-radius: 2vh;
  display: grid;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(1px) grayscale(0.7);
}